.login-main-page {
  background-color: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container {
  background-color: #272727;
  height: 50%;
  width: 70%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .login-container {
    height: 400px;
    width: 350px;
  }
}
.form-style {
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin-top: 30px;
}
.label {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 12px;
}
.input-style {
  height: 36px;
  margin-bottom: 24px;
  outline: none;
  background-color: transparent;
  border: 1px solid #cbd5e1;
  padding-left: 12px;
  border-radius: 4px;
  color: #f8fafc;
}
.login-btn {
  background-color: #6366f1;
  height: 36px;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 6px;
}
.website-logo {
  width: 80%;
  align-self: center;
  margin-top: 12px;
}
.error-msg {
  color: #ff0b37;
  font-size: 12px;
  font-weight: bold;
}
